sudo: required
services:
    - docker

before_install:
    - docker build -t gdachs/react-test -f ./client/Dockerfile.dev

script:
    - docker run -e CI=true gdachs/react-test npm test

after_success:
    - docker build -t gdachs/multi-client ./client
    - docker build -t gdachs/multi-nginx ./nginx
    - docker build -t gdachs/multi-server ./server
    - docker build -t gdachs/multi-worker ./worker
    # Log in to the docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # Take those images and  push them to docker hub
    - docker push gdachs/multi-client
    - docker push gdachs/multi-nginx
    - docker push gdachs/multi-server
    - docker push gdachs/multi-worker

